.viewPopUp-container{

    width: 600px;
}

#student-id{

    padding: 15px 15px 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-table-container{

    padding:  0px 15px 0px 15px;
    
}

.view-close-nd-edit{
   
    padding:  0px 15px 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#ans-input{
    border: 1px solid rgb(212, 209, 209);
}
#ans-text{
    margin-left: 10px;
    font-size: 14px;
  line-height: 1;
}
#drop-down{
    background-color: white;
    margin-top: 10px;
    border:1px solid rgb(212, 209, 209);
    height: 29px;
     min-width: 50%;
    width: 100%;
     /* background-color: red; */
 }