@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.main-container{
   margin-top: -34px;
   min-height: 580px;
   padding: 20px;
   /* margin-left: 42px; */
   margin-left: 200px;
  
  background-color: rgb(241, 244, 245);
    
}
.main-containerToggle{
    margin-top: -34px;
    min-height: 600px;
    margin-left: 42px;
   
    /* margin-left: 200px; */
   /* background-color: rgb(219, 226, 233); */
     
 }
.content-header{
    
    
    font-family: "Roboto", sans-serif;
    font-size: 24px;
   /* background-color: yellow; */
  
}

#heading{
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

#sub-heading{
    display: flex;
    padding: 10px;
    background-color: rgb(241, 238, 238);
    flex-direction: row;
    justify-content: space-between;
    border-bottom:1px solid rgb(214, 212, 212);
}
.content-part{
    margin-top: 15px; 
   font-size: 18px;
   font-family: "Roboto", sans-serif;
   border: 1px solid rgb(214, 212, 212);
}

.payment-content-part{
    margin-top: 15px; 
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

#inner-sub-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#page-heading{
    margin-left: 6px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

#docIcon{
    height: 16px;
    width: 16px;
    margin-top: 5px;
}

#showing-pagination{
    font-size: 14px;
    margin-top: 5px;
    font-family: "Roboto", sans-serif;
}

.export-buttons{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: flex-end;
    border-bottom:1px solid rgb(214, 212, 212);
}

#btns{
    display: flex;
    position: relative;
    width: 13%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 10px 10px 10px;
}

#queries-btns{
   display: flex;
    position: relative;
    width: 17%;
    margin: 10px 10px 10px 10px;
}

#all-btn{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border: 1px solid gray;
    background-color: rgb(231, 227, 227);
    width: 55px;
}
#all-img{
    margin-right: 4px;
    height: 14px;
    width: 14px;
}
#export-img{
    height: 14px;
    width: 14px;   
}

.editButton{
   border: none;
   background-color: transparent;
}

.link-container{
    display: flex;
    flex-direction: row;
}

#link-url{
    width: 80%;
    margin-left: 10px;
    border: 1px solid rgb(212, 209, 209);
    background-color: white;
}

#paste-heading{

    font-weight: bold;
    font-style: italic;
}

#url{
   margin-left: 10px;
   font-size: 15px;
}

#upload-button{

    margin-top: 20px;
}
#answer-btn{
    margin-top: 20px;  
}

#close-btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 99%;
    /* background-color: red; */
    margin-bottom: 10px;
}

#close{
    margin-right: 10px;
}

